@using SmartShop.DAL
@model Category

<div id="insert-content">
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
        <!-- widget div-->
        <div role="content">
            <!-- widget content -->
            <div class="widget-body no-padding">
                @using (Ajax.BeginForm("Save", "LoaiSanPham", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveSuccess" }, new { @class = "smart-form" }))
                {
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Tên loại sản phẩm</label>
                            </section>
                            <section class="col col-8">
                                @Html.TextBox("CategoryID", @Model.CategoryID, new { @style = "display: none;" })
                                <label class="input">
                                    @Html.TextBox("CategoryName", @Model.CategoryName, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Mô tả</label>
                            </section>
                            <section class="col col-8">
                                <label class="input">
                                    @Html.TextBox("Description", @Model.Description, new { @style = "width:100%; font-size:12px;" })
                                </label>
                            </section>
                        </div>
                        <label class="input">
                            <input type="submit" value="Thêm" id="LoaiSanPhamSubmit" style="display: none;" />
                        </label>
                    </fieldset>
                }

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
</div>
