@using System.Data
@using SmartShop.UI

@{
    int totalRecord = 0;
    DataSet ds = ProductSvr.GetSanPhamTheoDieuKien("", "XEM", "GIAM", 20, 1, ref totalRecord);
}

<div class="nav-cat-title small green">SẢN PHẨM BÁN CHẠY</div>
<div class="widget w300">
    <div id="grBestBuys" class="contentbestbuy" style="width: 206px; padding: 0; overflow: scroll">
        @if (ds != null && ds.Tables.Count > 0)
        {
            DataTable dt = ds.Tables[0];
            <ul>
                @foreach (DataRow r in dt.Rows)
                {
                    var gr = ProductGroupSvr.GetByID(Convert.ToInt32(r["NHOM"]));
                    var cat = ProductCatSvr.GetById(gr.CategoryID.Value);
                    string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                    <li>
                        <a onclick="javascript:ClientAddToListLastItems('vn','@r["ID"].ToString()');" href="@AppEnv.ApplicationPath">
                            <div style="height: 100px; border: 1px solid #E8E8E8; box-shadow: 5px 5px 0 #F9F9F9;">
                                <ul class="img_prodvertical">
                                    <img class="jcarousel_imgGroupProduct" src="@path" border="0">
                                </ul>
                                <ul class="info_prodvertical">
                                    <li class="productname">@r["TEN"].ToString()</li>
                                    <li class="saleprice">@String.Format("{0:0,0;(0:0,0);Liên hệ}", decimal.Parse(r["YTE_GIA_BAN"].ToString()))</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>