@using SmartShop.DAL
@using SmartShop.UI

@{
    var cat = ProductCatSvr.GetAllCategory();
    var group = ProductGroupSvr.GetAllItem();
}

<div class="bannerone">
    <div class="nav-cat-title small green">
        DANH MỤC SẢN PHẨM
    </div>

@*    <div class="menu-container clear">
        <div class="nav-vertical-mega-menu">
            <ul class="menu right" id="mega-1">
                <li class="dc-mega-li"><a href="/Thiet-bi-y-te.html" class="dc-mega">Thiết bị y tế<span class="dc-mega-icon"></span></a>
                    <div class="sub-container mega" style="height: 300.4px; margin-top: -37px; z-index: 1000; width: 745.4px; display: none; opacity: 1; left: 220px;">
                        <ul class="sub">
                            <div class="row first" style="width: 780px;">
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/May-do-huyet-ap.html" class="mega-hdr-a" style="height: 18px;">Máy đo huyết áp</a></li>
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/May-do-duong-huyet.html" class="mega-hdr-a" style="height: 18px;">Máy đo đường huyết</a></li>
                                <li class="mega-unit mega-hdr last"><a href="/Thiet-bi-y-te/Nhiet-ke-dien-tu.html" class="mega-hdr-a" style="height: 18px;">Nhiệt kế điện tử</a></li>
                            </div>
                            <ul>
                                <li><a href="/Thiet-bi-y-te/May-do-huyet-ap-bap-tay.html">Máy đo huyết áp bắp tay</a></li>
                                <li><a href="/Thiet-bi-y-te/May-do-huyet-ap-co-tay.html">Máy đo huyết áp cổ tay</a></li>
                            </ul>
                            <div class="row" style="width: 780px;">
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/Nhiet-am-ke---Tao-do-am.html" class="mega-hdr-a" style="height: 18px;">Nhiệt ẩm kế - Tạo độ ẩm</a></li>
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/May-xong-mui-hong.html" class="mega-hdr-a" style="height: 18px;">Máy xông mũi họng</a></li>
                                <li class="mega-unit mega-hdr last"><a href="/Thiet-bi-y-te/May-dieu-tri-viem-mui-di-ung.html" class="mega-hdr-a" style="height: 18px;">Máy điều trị viêm mũi dị ứng</a></li>
                            </div>
                            <div class="row last" style="width: 780px;">
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/Thiet-bi-y-te-gia-dinh.html" class="mega-hdr-a" style="height: 18px;">Thiết bị y tế gia đình</a></li>
                                <li class="mega-unit mega-hdr"><a href="/Thiet-bi-y-te/May-do-axit-Uric-(-Gout-).html" class="mega-hdr-a" style="height: 18px;">Máy đo axit Uric ( Gout )</a></li>
                                <li class="mega-unit mega-hdr last"><a href="/Thiet-bi-y-te/Thiet-bi-massage-tri-lieu.html" class="mega-hdr-a" style="height: 18px;">Thiết bị massage trị liệu</a></li>
                            </div>
                            <ul>
                                <li><a href="/Thiet-bi-y-te/Den-hong-ngoai.html">Đèn hồng ngoại</a></li>
                                <li><a href="/Thiet-bi-y-te/Thiet-bi-khac.html">Thiết bị khác</a></li>
                            </ul>
                            <ul>
                                <li><a href="/Thiet-bi-y-te/Dai-massage-bung.html">Đai massage bụng</a></li>
                            </ul>
                        </ul>
                    </div>
                </li>
                <li class="dc-mega-li"><a href="/Danh-cho-me-va-be.html" class="dc-mega">Dành cho mẹ và bé<span class="dc-mega-icon"></span></a>
                    <div class="sub-container mega" style="height: 300.4px; margin-top: -37px; z-index: 1000; width: 745px; display: none;">
                        <ul class="sub">
                            <div class="row last first" style="width: 780px;">
                                <li class="mega-unit mega-hdr"><a href="/Danh-cho-me-va-be/Do-dung-cham-soc-be.html" class="mega-hdr-a" style="height: 18px;">Đồ dùng chăm sóc bé</a></li>
                                <li class="mega-unit mega-hdr"><a href="/Danh-cho-me-va-be/Binh-sua-&amp;-Phu-kien.html" class="mega-hdr-a" style="height: 18px;">Bình sữa &amp; Phụ kiên</a></li>
                                <li class="mega-unit mega-hdr last"><a href="/Danh-cho-me-va-be/Do-choi-cong-nghe-cho-be.html" class="mega-hdr-a" style="height: 18px;">Đồ chơi công nghệ cho bé</a></li>
                            </div>
                            <ul>
                                <li><a href="/Danh-cho-me-va-be/Tosy.html">Tosy</a></li>
                                <li><a href="/Danh-cho-me-va-be/Lego.html">Lego</a></li>
                                <li><a href="/Danh-cho-me-va-be/Xe-mo-hinh-.html">Xe mô hình </a></li>
                            </ul>
                        </ul>
                    </div>
                </li>
                <li class=""><a href="/San-pham-lam-dep.html" class="dc-mega">Sản phẩm làm đẹp<span class="dc-mega-icon"></span></a>
                    <div class="sub-container non-mega" style="height: 300.4px; margin-top: -53.6px; z-index: 1000; display: none; width: 745.4px; opacity: 1; left: 220px;">
                        <ul class="sub">
                            <li><a href="/San-pham-lam-dep/Dung-cu-lam-dep-.html">Dụng cụ làm đẹp </a></li>
                            <li><a href="/San-pham-lam-dep/May-xong-hoi-mat.html">Máy xông hơi mặt</a></li>
                            <li><a href="/San-pham-lam-dep/Leu-xong-hoi.html">Lều xông hơi</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/Do-dung-gia-dinh.html" class="dc-mega">Đồ dùng gia đình<span class="dc-mega-icon"></span></a>
                    <div class="sub-container non-mega" style="height: 300.4px; margin-top: -37px; z-index: 1000; display: none;">
                        <ul class="sub">
                            <li><a href="/Do-dung-gia-dinh/May-loc-nuoc.html">Máy lọc nước</a></li>
                            <li><a href="/Do-dung-gia-dinh/May-trong-rau-mam.html">Máy trồng rau mầm</a></li>
                            <li><a href="/Do-dung-gia-dinh/Hat-giong-rau-mam.html">Hạt giống rau mầm</a></li>
                            <li><a href="/Do-dung-gia-dinh/Be-boi-phao.html">Bể bơi phao</a></li>
                            <li><a href="/Do-dung-gia-dinh/May-hut-am.html">Máy hút ẩm</a></li>
                            <li><a href="/Do-dung-gia-dinh/May-tao-am.html">Máy tạo ẩm</a></li>
                            <li><a href="/Do-dung-gia-dinh/Den-pin.html">Đèn pin</a></li>
                        </ul>
                    </div>
                </li>
                <li class=""><a href="/Do-the-thao.html" class="dc-mega">Đồ thể thao<span class="dc-mega-icon"></span></a>
                    <div class="sub-container non-mega" style="height: 300.4px; margin-top: -127.2px; z-index: 1000; display: none; width: 745.4px; opacity: 1; left: 220px;">
                        <ul class="sub">
                            <li><a href="/Do-the-thao/May-tap-co-bung.html">Máy tập cơ bụng</a></li>
                            <li><a href="/Do-the-thao/Gian-tap-ta.html">Giàn tập tạ</a></li>
                            <li><a href="/Do-the-thao/Dung-cu-Yoga.html">Dụng cụ Yoga</a></li>
                            <li><a href="/Do-the-thao/Dung-cu-phong-tap.html">Dụng cụ phòng tập</a></li>
                            <li><a href="/Do-the-thao/May-chay-bo-.html">Máy chạy bộ </a></li>
                            <li><a href="/Do-the-thao/Xa-don,-xa-kep,-xa-xep.html">Xà đơn, xà kép, xà xếp</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>*@

    <div class="menu-container clear">
            <div class="nav-vertical-mega-menu">
            <ul id="mega-1" class="menu">
            @foreach (var root in cat)
            {
                if (group.Where(e => e.GroupParrentID == null && e.CategoryID == root.CategoryID).Count() > 0)
                {
                        <li><a href="javascript:void(0)">@root.CategoryName</a>
                            <ul>
                    @foreach (var sub in group.Where(e => e.GroupParrentID == null && e.CategoryID == root.CategoryID))
                    {
                        if (group.Where(e => e.GroupParrentID == sub.ProductGroupID).Count() > 0)
                        {
                            <li><a href="javascript:void(0)">@sub.GroupName</a></li>
                                            <ul>
                            @foreach (var sSub in group.Where(e => e.GroupParrentID == sub.ProductGroupID))
                            {
                                <li><a href="javascript:void(0)">@sSub.GroupName</a></li>
                            }
                                            </ul>
                        }
                        else
                        {
                            <li><a href="javascript:void(0)">@sub.GroupName</a></li>
                        }
                    }
                            </ul>
                        </li>
                }
                else
                {
                        <li><a href="javascript:void(0)">@root.CategoryName</a></li>
                }
            }
            </ul>
            </div>
            </div>

    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-1').dcVerticalMegaMenu({
                rowItems: '3',
                speed: 'fast',
                effect: 'slide',
                direction: 'right'
            });
        });
    </script>
    <div class="advimage_holder">
        <img src="@Url.Content("~/Media/AdvImage/2012/10/2/ho-tro-khach-hang.jpg")" border="0" width="218" height="111" alt="" class="imagelogo" />
    </div>
    <div class="zonespace">
    </div>
</div>
