@using SmartShop.UI
@model CatGroupProductModel

@{
    
    var group = ProductGroupSvr.GetAllItem().Where(e => e.CategoryID == Model.ObjCategory.CategoryID);
}
<div class="nav-cat-title small green"><a href="#">@Model.ObjCategory.CategoryName</a></div>
<div id="link_submenu_vertical">
    @if (group.Count() > 0)
    {
        <ul>
            @foreach (var item in group.Where(e => e.GroupParrentID == null))
            {
                <li><a href="@AppEnv.ApplicationPath">@item.GroupName</a></li>
                if (group.Where(e => e.GroupParrentID == item.ProductGroupID).Count() > 0)
                {
                <ul>
                    @foreach (var sItem in group.Where(e => e.GroupParrentID == item.ProductGroupID))
                    {
                        <li><a href="@AppEnv.ApplicationPath">@sItem.GroupName</a></li>
                    }
                </ul>
                }
            }
        </ul>
    }
</div>
