@using SmartShop.UI
@using System.Data
@using SmartShop.DAL

@{
    decimal giaBan = 0;
    decimal dChietKhau = 0;
    string chietkhau = "";
    var cat = ProductCatSvr.GetAllCategory();
    int totalRecord = 0;
}
@foreach (var iCat in cat)
{
    var lstGroup = ProductGroupSvr.GetByCategoryHasProduct(iCat.CategoryID);
    if (lstGroup.Count() > 0)
    {
    <div class="zonespace">
    </div>
    <div class="cattab">
        <span class="maingrouppro">@iCat.CategoryName</span>
        <ul style="overflow: hidden; position: relative; width: 3262px; height: 37px;">
            @foreach (var item in lstGroup)
            {
                string idNhom = item.ProductGroupID.ToString();
                DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(idNhom, "ID", "GIAM", 10, 1, ref totalRecord);

                var showgroup = iCat.CategoryID + "dvNhom" + item.ProductGroupID.ToString();
                if (lstGroup.ToList().IndexOf(item) == 0)
                {
                <li class='active'><a href="javascript:ShowGroup('@showgroup');">@item.GroupName</a></li>
                }
                else
                {
                <li><a href="javascript:ShowGroup('@showgroup');">@item.GroupName</a></li>
                }
            }
        </ul>
    </div>

            foreach (var item in lstGroup)
            {
                string idNhom = item.ProductGroupID.ToString();
                var classGroup = "GroupHome" + iCat.CategoryID.ToString();
                DataSet ds = ProductSvr.GetSanPhamTheoDieuKien(idNhom, "ID", "GIAM", 10, 1, ref totalRecord);
                if (ds != null && ds.Tables.Count > 0 && ds.Tables[0].Rows.Count > 0)
                {
                    DataTable dt = ds.Tables[0];
                    var showgroup = iCat.CategoryID + "dvNhom" + item.ProductGroupID.ToString();
                    if (lstGroup.ToList().IndexOf(item) == 0)
                    {
                        <div id='@showgroup' style="display: block;" class='jcarousel-skin-BestProduct @classGroup'>
                            <div style="position: relative; display: none;" class="jcarousel-container jcarousel-container-horizontal">
                                <div style="position: relative;" class="jcarousel-clip jcarousel-clip-horizontal">
                                    <ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3262px;" id="mycarouse2" class="jcarousel-list jcarousel-list-horizontal">

                                        @foreach (DataRow r in dt.Rows)
                                        {
                                            giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                                            dChietKhau = 0;
                                            string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                            var href = AppEnv.ApplicationPath + "/" + iCat.NoSymbolName + "/" + item.NoSymbolName + "/" + Util.converToUnsign(r["TEN"].ToString()) + ".html";
                                            <li jcarouselindex="@(dt.Rows.IndexOf(r) + 1)" style="float: left; list-style: none outside none;" class="item jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
                                                @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                                {
                                                    dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                                    chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                                    <div class="starPromotion">
                                                        <span>- @chietkhau %</span>
                                                    </div>
                                                }
                                                <a href="@href" class="product-image">
                                                    <img src="@path" width="150" height="150" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()"></a>
                                                <h2 class="product-name">
                                                    <a href="@href" title="@r["TEN"].ToString()">@r["TEN"].ToString()</a>
                                                </h2>
                                                <!---Gift content-->
                                                <div class="gift-img">&nbsp;</div>
                                                @if (dChietKhau > 0)
                                                {
                                                    <!--##GIÁ ĐẶC BIỆT##-->
                                                    <div class="price-box">
                                                        <p class="special-price">
                                                            <span class="price-label">Giá KM:</span> <span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau)</span>
                                                        </p>
                                                        <p class="save-cost">
                                                            <span>Giảm: @String.Format("{0:0,0;(0:0,0);Liên hệ}", dChietKhau)</span>
                                                        </p>
                                                        <p class="old-price">
                                                            <span class="price-label"></span><span class="price">Giá NY:@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span>
                                                        </p>
                                                    </div>
                                                    <!--Nếu giá đặc biệt quá hạn-->
                                                    <!--##GIÁ ĐẶC BIỆT##-->
                                                }
                                                else
                                                {
                                                    <div class="price-box">
                                                        <span class="regular-price"><span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span> </span>
                                                    </div>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div disabled="true" style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal">
                                </div>
                                <div disabled="false" style="display: block;" class="jcarousel-next jcarousel-next-horizontal">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id='@showgroup' style="display: none;" class='jcarousel-skin-BestProduct @classGroup'>
                            <div style="position: relative; display: none;" class="jcarousel-container jcarousel-container-horizontal">
                                <div style="position: relative;" class="jcarousel-clip jcarousel-clip-horizontal">
                                    <ul style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: 0px; width: 3262px;" id="mycarouse2" class="jcarousel-list jcarousel-list-horizontal">

                                        @foreach (DataRow r in dt.Rows)
                                        {
                                            giaBan = decimal.Parse(r["YTE_GIA_BAN"].ToString());
                                            dChietKhau = 0;
                                            string path = HeThong.duongdan_anhSP(Convert.ToInt32(r["ID"]), r["YTE_ANH_CHINH"].ToString());
                                            var href = AppEnv.ApplicationPath + "/" + iCat.NoSymbolName + "/" + item.NoSymbolName + "/" + Util.converToUnsign(r["TEN"].ToString()) + ".html";
                                            <li jcarouselindex="@(dt.Rows.IndexOf(r) + 1)" style="float: left; list-style: none outside none;" class="item jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal">
                                                @if (r["YTE_CHIET_KHAU"] != null && !r["YTE_CHIET_KHAU"].ToString().Equals("") && decimal.Parse(r["YTE_CHIET_KHAU"].ToString()) > 0)
                                                {
                                                    dChietKhau = decimal.Parse(r["YTE_CHIET_KHAU"].ToString());
                                                    chietkhau = String.Format("{0:0,0;(0:0,0);Liên hệ}", (dChietKhau / giaBan) * 100);
                                                    <div class="starPromotion">
                                                        <span>- @chietkhau %</span>
                                                    </div>
                                                }
                                                <a href="@href" class="product-image">
                                                    <img src="@path" width="150" height="150" title="@r["TEN"].ToString()" alt="@r["TEN"].ToString()"></a>
                                                <h2 class="product-name">
                                                    <a href="@href" title="@r["TEN"].ToString()">@r["TEN"].ToString()</a>
                                                </h2>
                                                <!---Gift content-->
                                                <div class="gift-img">&nbsp;</div>
                                                @if (dChietKhau > 0)
                                                {
                                                    <!--##GIÁ ĐẶC BIỆT##-->
                                                    <div class="price-box">
                                                        <p class="special-price">
                                                            <span class="price-label">Giá KM:</span> <span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan - dChietKhau)</span>
                                                        </p>
                                                        <p class="save-cost">
                                                            <span>Giảm: @String.Format("{0:0,0;(0:0,0);Liên hệ}", dChietKhau)</span>
                                                        </p>
                                                        <p class="old-price">
                                                            <span class="price-label"></span><span class="price">Giá NY:@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span>
                                                        </p>
                                                    </div>
                                                    <!--Nếu giá đặc biệt quá hạn-->
                                                    <!--##GIÁ ĐẶC BIỆT##-->
                                                }
                                                else
                                                {
                                                    <div class="price-box">
                                                        <span class="regular-price"><span class="price">@String.Format("{0:0,0;(0:0,0);Liên hệ}", giaBan)</span> </span>
                                                    </div>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div disabled="true" style="display: block;" class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal">
                                </div>
                                <div disabled="false" style="display: block;" class="jcarousel-next jcarousel-next-horizontal">
                                </div>
                            </div>
                        </div>
                    }
                }
            }
    }
}
<script type="text/javascript">
    function ShowGroup(id) {
        var cat = id.split("dvNhom", 1);
        var className = "GroupHome" + cat;
        var cusid_ele = document.getElementsByClassName(className);
        for (var i = 0; i < cusid_ele.length; ++i) {
            var item = cusid_ele[i];
            var itemattribute = "display: none;";
            item.setAttribute("style", itemattribute);
        }
        var attribute = "display: block;";
        document.getElementById(id).setAttribute("style", attribute);

    }
</script>
