@{
    Layout = null;
    var sEntityName = "";
    if (ViewBag.EntityName != null)
    {
        sEntityName = ViewBag.EntityName + "_";
    }
    var iCurrentPage = 1;
    if (ViewBag.CurrentPage != null)
    {
        iCurrentPage = Convert.ToInt32(ViewBag.CurrentPage);
    }
    var iPageSize = 10;
    if (ViewBag.PageSize != null)
    {
        iPageSize = Convert.ToInt32(ViewBag.PageSize);
    }

    var iTotalRow = 0;
    if (ViewBag.TotalRow != null)
    {
        iTotalRow = Convert.ToInt32(ViewBag.TotalRow);
    }
    var iFrom = (@iCurrentPage - 2 < 1 ? 1 : @iCurrentPage - 2);
    var iPageCount = iTotalRow / iPageSize;
    if (iTotalRow % iPageSize > 0)
    {
        iPageCount++;
    }

    var iRowCount = iPageSize;
    if (iCurrentPage * iPageSize > iTotalRow)
    {
        iRowCount = iTotalRow - iPageSize * (iCurrentPage - 1);
    }
    var sPagingAction = string.Empty;
    int iStep = 4;
}
@*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

@if (iPageCount > 0)
{ 
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="dt_basic_info">
                <span>Hiển thị</span> @Html.DropDownList(sEntityName + "drpPagingSize", SmartShop.Admin.DataCombobox.LoadPageSizeCustom(), new { onchange = "" + sEntityName + "gotoPage(1,parseInt($(this).val()));", id = sEntityName + "drpPageSize" })
                <span class="total-count-paging">Tổng số &nbsp;@iTotalRow &nbsp; bản ghi</span>
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <div class="dataTables_paginate paging_bootstrap_full">
                <ul class="pagination">
                    @if (iCurrentPage > 1)
                    {
                        <li class="first"><a class="page-panel first-panel" href="javascript:void(0);" onclick="@(sEntityName + "gotoPage(1);")">&lt;&lt;&nbsp;</a></li> 
                        <li class="prev"><a class="page-panel" href="javascript:void(0);" 
                    onclick="@(sEntityName + "gotoPage(" + (iCurrentPage - iStep - 1 > 1 ? iCurrentPage - iStep - 1 : 1) + ");")">&lt;&nbsp;</a></li>
                    }
                    else
                    { 
                        <li class="first disabled"><a class="page-panel first-panel" onclick="return false;">&lt;&lt;&nbsp;</a></li>            
                        <li class="prev disabled"><a class="page-panel" onclick="return false;">&lt;&nbsp;</a></li>            
                    }

                    @for (int i = iFrom; i <= iFrom + iStep; i++)
                    {
                        if (i <= iPageCount)
                        {
                            // Nếu i không phải trang đầu tiên thì thêm ... ở đầu
                            if (i == iFrom && i > 1)
                            { 
                        <li><a><span>...</span>    </a></li>
                            }
                            var href = (@i == iCurrentPage) ? "" : "javascript:void(0);";
                            var clsCSS = (@i == iCurrentPage) ? "page-panel current" : "page-panel";
                            var funcJs = (@i == iCurrentPage) ? "return false;" : sEntityName + "gotoPage(" + i + ");";

                        <li><a id="@(sEntityName + "page_" + i)" class="@clsCSS" href="@href" onclick="@funcJs"><span>@i</span></a></li>
                   
                            // Nếu đến hết mà vẫn chưa phải trang cuối cùng thì thêm ...
                            if (i == iFrom + iStep && iFrom + iStep < iPageCount)
                            { 
                        <li><a class="page-panel"><span>...</span>    </a></li>
                            }
                        }

                    }
                    @if (iCurrentPage < iPageCount)
                    {   
                        <li class="next"><a class="page-panel" href="javascript:void(0);" 
                    onclick="@(sEntityName + "gotoPage(" + (iCurrentPage + iStep + 1 < iPageCount ? iCurrentPage + iStep + 1 : iPageCount) + ");")">&nbsp;&gt;</a></li>
                        <li class="last"><a class="page-panel last-panel" href="javascript:void(0);"  onclick="@(sEntityName + "gotoPage(" + iPageCount + ");")">&nbsp;&gt;&gt;</a></li>
                    }
                    else
                    { 
                        <li class="next disabled"><a class="page-panel" onclick="return false;">&nbsp;&gt;</a></li>          
                        <li class="last disabled"><a class="page-panel last-panel" onclick="return false;">&nbsp;&gt;&gt;</a></li>            
                    }
                </ul>
            </div>
        </div>
    </div>
}
<input type="hidden" value="@iCurrentPage.ToString()" id="@(sEntityName + "hdCurrentPage")" />

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            var iPageSize = '10';
            if (parseInt('@ViewBag.PageSize ') > 0) {
                iPageSize = '@ViewBag.PageSize';
            }
            $("#@(sEntityName)drpPageSize").val(iPageSize);
        }, 0);
    });
</script>
