@using SmartShop.UI
@using SmartShop.Utilities

@{
    var pType = WebInfoSvr.GetAllItem();
}

<div class="row">
    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2>Hỗ trợ khách hàng</h2>
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#" onclick="javascript:window.location.href = &#39;@AppEnv.ApplicationPath/contact/&#39; return false;">
                    <span>CSKH</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.CSKH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#" onclick="javascript:window.location.href = &#39;@AppEnv.ApplicationPath/contact/&#39;return false;">
                    <span>KD ONLINE</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.KINH_DOANH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#" onclick="javascript:window.location.href = &#39;@AppEnv.ApplicationPath/contact/&#39;return false;">
                    <span>CSKH</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.CSKH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="#">
                    <span>KD ONLINE</span>: @pType.FirstOrDefault(e => e.Info.Equals(ThongTin.KINH_DOANH.id)).Value
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO1.id)).Value" title="">Hỗ trợ 1</a>
                <a class="live" title="Chat trực tiếp trên website, không cần tạo tài khoản" href="#">
                    <img class="livechat" src="@AppEnv.ApplicationPath/Content/imgs/support/livechat-on.gif"
                         border="0" alt="Livechat :)" />
                </a>
                <a href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO1.id)).Value">
                    <img width="22" border="0" src="http://opi.yahoo.com/online?u=bcare_kd01&m=g&t=19"
                         mce_src="http://opi.yahoo.com/online?u=bcare_kd01&m=g&t=19" />
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO2.id)).Value" title="">Hỗ trợ 2</a>
                <a class="live" title="Chat trực tiếp trên website, không cần tạo tài khoản" href="#">
                    <img class="livechat" src="@AppEnv.ApplicationPath/Content/imgs/support/livechat-on.gif"
                         border="0" alt="Livechat :)" />
                </a>
                <a href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO2.id)).Value">
                    <img width="22" border="0" src="http://opi.yahoo.com/online?u=bcare_kd02&m=g&t=19"
                         mce_src="http://opi.yahoo.com/online?u=bcare_kd02&m=g&t=19" />
                </a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a class="text" href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO3.id)).Value" title="">Hỗ trợ 3</a>
                <a class="live" title="Chat trực tiếp trên website, không cần tạo tài khoản" href="#">
                    <img class="livechat" src="@AppEnv.ApplicationPath/Content/imgs/support/livechat-on.gif"
                         border="0" alt="Livechat :)">
                </a>
                <a href="ymsgr:sendIM?@pType.FirstOrDefault(e => e.Info.Equals(ThongTin.YAHOO3.id)).Value">
                    <img width="22px" border="0" src="http://opi.yahoo.com/online?u=bcare_kd03&m=g&t=19"
                         mce_src="http://opi.yahoo.com/online?u=bcare_kd03&m=g&t=19">
                </a>
            </li>
        </ul>
    </div>

    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2 class="margin-bottom-0">Hướng dẫn thanh toán</h2>
        <ul class="list-unstyled">
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Hướng dẫn thanh toán
                </a>
            </li>
        </ul>
    </div>
    <!-- END TWITTER BLOCK -->
    <!-- BEGIN BOTTOM CONTACTS -->
    <div class="col-md-4 col-sm-4 pre-footer-col">
        <h2>Our Contacts</h2>
        <address class="margin-bottom-40">
            35, Lorem Lis Street, Park Ave<br>
            California, US<br>
            Phone: 300 323 3456<br>
            Fax: 300 323 1456<br>
            Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
            Skype: <a href="skype:metronic">metronic</a>
        </address>
    </div>
    <!-- END BOTTOM CONTACTS -->
</div>